@theme{
    --color-primary: #713EDA;
    --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25); 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'monsterrat';
    src: url("/resources/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
   font-family: 'monsterrat'; 
}